.navbar {
    height: 8rem;
    background-image: radial-gradient(rgb(214, 255, 241, 0.734), rgb(128, 215, 255));
    box-shadow: 0 8px 10px -5px rgb(179, 241, 78);
    border-bottom: 0.5px solid rgb(238, 6, 226);
    color:blueviolet;
    text-align: center;
}

.form {
    margin-right: 28rem;
}

.btn {
    width: 8rem;
    height: 30px;
    border-radius: 8px;
    background-color: rgb(238, 156, 62);
    color:black;
    margin-left: 20px;
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
}

.navbar-brand {
    font-size: 30px !important;
}

.card {
    margin: 5.3rem;
    margin-bottom: 10px;
    display: inline-block;
    text-align: center;
    background-image: linear-gradient( rgb(114, 127, 243),rgba(241, 19, 19, 0.734));
    border-radius: 5px;
    color:white;
    font-weight: 100px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    width: auto;
}

.details {
    margin-left: 5rem;
}
.form-control{
    height: 30px;
    border: none;
    border-radius: 10px;
    text-align: center;
    background-color: rgb(224, 247, 144);
}
